<!-- Generated template for the BannerComponent component -->
<div class="banner" *ngIf="show">
	<ion-grid class="banner-plan" *ngIf="isPlan()" [ngStyle]="{'background-image': 'url('+ backgroundImg +')'}">
		<ion-row padding>
			<ion-col [ngStyle]="{'color':'white'}">{{ productDescription }}</ion-col>
			<ion-col col-auto>
				<button ion-button (click)=goToLink()>{{ buttonText }}</button>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid class="banner-cellphone" *ngIf="isCellphone()" [ngStyle]="{'background-color':'#eee'}">
		<ion-row>
			<ion-col padding col-4><ion-img width="90" height="90" src={{productImg}}></ion-img></ion-col>
			<ion-col padding col-8>
				<div>
					<p><strong>{{ productName }}</strong></p>
					<p>{{ productDescription }}</p>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</div>
